// Destination Boxes


$item-height: 300px;
$item-width: 225px;
$item-margin: 10px;

body {

.ult-ih-container {
	 position: relative;
    clear: both;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
	 ul.ult-ih-list {
		display: block;
		float: none;
		line-height: 0;
		position: relative;
		list-style-type: none;
		padding: 0;
		margin: 0 auto;
		text-align: center;
		max-width: ($item-width * 3) + ($item-margin * 8);
		li.ult-ih-list-item {
			height: $item-height;
			width: $item-width;
			margin: $item-margin;
			opacity: 1;
			display: inline-block;
			list-style: none;
			list-style-image: none;
			list-style-type: none;
			line-height: 0;
			color: inherit;
			letter-spacing: normal;
			border: 0;
			word-wrap: normal;
			word-spacing: normal;
			box-shadow: none;
			position: relative;
			background: 0;
			background-image: none;
			padding: 0;
			&:before,
			&:after {
				content: "";
				border: 0;
				position: relative;
				background: 0;
				background-image: none;
				margin: 0;
				padding: 0
			}
	  }
  }
}


.ult-ih-item {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    position: relative;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
	 .ult-ih-image {
		width: 100%;
		height: 100%;
		background: no-repeat center;
		background-size: cover;
		position: absolute;
	}
	.ult-ih-frontheading {
		width: 100%;
		text-align: center;
		@include vertical-align(absolute);
		text-shadow: $text-shadow;
		color: $c-white;
		font-weight: 700;
		font-size: 24px;
		font-size: 2.4rem;
		padding: 20px;
		line-height: 1.2;
		-webkit-font-smoothing: antialiased;
	}
	a.ult-ih-link {
		border: 0;
		background: 0;
		margin: 0;
		padding: 0;
		opacity: 1;
		visibility: visible;
		outline: 0;
		&:before,
		&:after {
			content: "";
			border: 0;
			background: 0;
			margin: 0;
			padding: 0;
			opacity: 1;
			visibility: visible;
			outline: 0
		}
	}
}

.ult-ih-item a.ult-ih-link:hover,
.ult-ih-item a.ult-ih-link:active,
.ult-ih-item a.ult-ih-link:focus,
.ult-ih-item a.ult-ih-link:visited {
    border: 0;
    background: 0;
    margin: 0;
    padding: 0;
    opacity: 1;
    visibility: visible;
    outline: 0
}
.ult-ih-item .ult-ih-heading-block,
.ult-ih-item .ult-ih-heading-block h3.ult-ih-heading {
    line-height: normal;
	 color: $c-white;
	 text-align: center;
    border: 0;
    position: relative;
    background: 0;
    background-image: none;
    margin: 0;
    padding: 0
}
.ult-ih-item .ult-ih-description-block .ult-ih-description,
.ult-ih-item .ult-ih-description-block .ult-ih-description p {
    line-height: normal;
	 color: $c-white;
	 text-align: center;
	 font-size: 14px;
	 font-size: 1.4rem;
    border: 0;
    position: relative;
    background: 0;
    background-image: none;
    margin: 0;
    padding: 0
}
.ult-ih-item .ult-ih-description-block .ult-ih-description img {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
}
.ult-ih-item .ult-ih-divider-block {
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
	 height: 1px;
}
.ult-ih-item .ult-ih-divider-block .ult-ih-line {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
	 border-style:solid;
	 border-color: $c-red;
	 width:100px;
	 border-width:1px;
}
.ult-ih-item .ult-ih-content {
    visibility: visible;
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
	 @include transform(translateY(-50%));
}
.ult-ih-item .ult-ih-image-block {
    position: relative;
    display: block;
	 width: $item-width;
	 height: $item-height;
}
.ult-ih-item .ult-ih-image-block:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}
.ult-ih-item .ult-ih-image-block .ult-ih-wrapper {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
	 border-style: solid;
	 border-color: rgba(255,255,255,0.2);
	 border-width: 10px;
	 z-index: 2;
}
.ult-ih-item .ult-ih-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    display: block;
    height: 100%;
    background: $c-brown no-repeat center center;
	 background-size: cover;
	 background-blend-mode: soft-light;
}
.ult-ih-item .ult-ih-info .ult-ih-info-back {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.ult-ih-item .ult-ih-heading-block {
	 margin: 5px 20px;
}
.ult-ih-item .ult-ih-divider-block {
	 margin: 7px 10px;
}
.ult-ih-item .ult-ih-description-block {
	 margin: 5px 20px;
}

.ult-ih-item.ult-ih-square,
.ult-ih-item.ult-ih-square .ult-ih-image-block,
.ult-ih-item.ult-ih-square .ult-ih-image-block:before,
.ult-ih-item.ult-ih-square .ult-ih-image-block .ult-ih-wrapper,
.ult-ih-item.ult-ih-square .ult-ih-info,
.ult-ih-item.ult-ih-square .ult-ih-info .ult-ih-info-back {
    border-radius: 0
}
.ult-ih-item.ult-ih-square .ult-ih-image-block img.ult-ih-image {
    border-radius: 0 !important
}


.ult-ih-item.ult-ih-circle.ult-ih-effect6 .ult-ih-image-block,
.ult-ih-item.ult-ih-square.ult-ih-effect6 .ult-ih-image-block {
    opacity: 1;
	 @include transform(scale(1));
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6 .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6 .ult-ih-info {
    opacity: 0;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_up:hover .ult-ih-image-block,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_up:hover .ult-ih-image-block {
    opacity: 0;
	 @include transform(scale(1.5));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_up:hover .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_up:hover .ult-ih-info {
    opacity: 1;
	 @include transform(scale(1));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_up .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_up .ult-ih-info {
	@include transform(scale(0.5));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_down:hover .ult-ih-image-block,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_down:hover .ult-ih-image-block {
    opacity: 0;
	 @include transform(scale(0.5));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_down:hover .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_down:hover .ult-ih-info {
    opacity: 1;
	 @include transform(scale(1));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_down .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_down .ult-ih-info {
	@include transform(scale(1.5));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_down_up:hover .ult-ih-image-block,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_down_up:hover .ult-ih-image-block {
    opacity: 0;
	 @include transform(scale(0.5));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_down_up:hover .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_down_up:hover .ult-ih-info {
    opacity: 1;
	 @include transform(scale(1));
}
.ult-ih-item.ult-ih-circle.ult-ih-effect6.ult-ih-scale_down_up .ult-ih-info,
.ult-ih-item.ult-ih-square.ult-ih-effect6.ult-ih-scale_down_up .ult-ih-info {
	@include transform(scale(0.5));
    -webkit-transition: all .35s ease-in-out .2s;
    -moz-transition: all .35s ease-in-out .2s;
    transition: all .35s ease-in-out .2s
}

} // body to assign higher priority
