// Home Page

#home-top {
	.vc_column-inner {
		padding-top: 0px;
	}
	.ult-vc-seperator.bottom_seperator {
		bottom: 55px;
	}
}

.home-slider {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	.slick-slide {
		margin: 0 !important;
		.vc_empty_space {
			height: 100vh !important;
			min-height: 500px;
			max-height: 800px;
		}
	}
	.wpb_text_column {
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 2;
		p {
			color: $c-white;
			font: {
				size: 14px;
				size: 1.4rem;
			}
			text-shadow: $text-shadow;
			&:before {
				font-family: 'fontAwesome';
				content: '\f041';
				padding-right: 5px;
			}
		}
	}
	ul.slick-dots {
		transform: none;
		bottom: 10px;
	}
	.slick-next i,
	.slick-prev i {
		@include transition(0.2s);
		color: rgba($c-white, 0.6);
		&:hover {
			color: $c-white;
		}
	}
}

.more-arrow {
    position: absolute;
    bottom: 70px;
    color: #fff;
    width: 100%;
    z-index: 10;
	 a {
		color: $c-white;
	 }
}

body.admin-bar {
	.home-slider .slick-slide .vc_empty_space {
		margin-top: -32px;
	}
}

$intro-box-width: 475px;

.intro-box {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%));
    width: 100%;
	 -webkit-font-smoothing: antialiased;
	 text-align: center;
	 pointer-events: none;
	 .wpb_text_column {
		padding: 0 50px;
		color: $c-white;
	 }
	 h1 {
		color: $c-white;
		padding-bottom: 20px;
		font-size: 82px;
	 }
	 .ubtn-ctn-center {
		margin-bottom: 0;
	 }
	 a.ubtn-link {
		pointer-events: auto;
		background: rgba($c-red,0.5);
		// max-width: none;
		button {
			padding: 15px 10px;
			color: $c-white;
			-webkit-font-smoothing: antialiased;
		}
	 }
}

// How it works
.howitworks {
	padding: 50px 0;
	.smile_icon_list {
		position: relative;
		left: 50%;
		margin-left: -30px !important;
		width: 50% !important;
		li.icon_list_item {
			margin: 0 0 20px!important;
			.icon_list_icon {
				@include transition(0.3s);
			}
			.icon_description {
				@include transition(0.3s);
				box-shadow: 8px 8px rgba(0, 0, 0, 0);
			}
			&:hover {
				.icon_list_icon {
					border-color: $c-red !important;
				}
				.icon_description {
					border-color: $c-red !important;
					box-shadow: 8px 8px rgba(0, 0, 0, 0.07);
				}
			}
		}
		li.icon_list_item:nth-of-type(odd) {
			.icon_description {
				position: relative;
				left: -485px;
				margin-left: 50px;
			}
		}
	}
}

// Discover more cta
#home-cta {
	> .wpb_column {
		padding: 120px 0 80px;
	}
	h1 {
		color: $c-white;
		-webkit-font-smoothing: antialiased;
	}
}



// RESPONSIVE

@media screen and (max-width:$breakpoint-md) {
	
	.howitworks {
		.smile_icon_list {
			left: 0px;
			margin: 0 auto !important;
			min-width: 400px;
			li.icon_list_item:hover {
				.icon_description {
					box-shadow: none;
				}
			}
		}
	}
		
	body {
		.smile_icon_list.left {
			li,
			li.icon_list_item:nth-of-type(odd) {
				.icon_list_icon {
					width: 50px;
					height: 50px;
				}
				.icon_description {
					position: static;
					margin-left: 0;
					border: none;
					padding: 15px 0px 15px 70px;
				}
			}
		}
	}
	
	
}

@media screen and (max-width:$breakpoint-sm) {
	
	.intro-box {
		h1 {
			font-size: 72px;
		}
	}
	
	
}


@media screen and (max-width:$breakpoint-xs) {
	
	.more-arrow {
		display: none;
	}
	
	.intro-box {
		padding: 0 25px 0 0;
		.wpb_text_column {
			padding: 0 10px;
			margin-bottom: 20px;
		}
		h1 {
			font-size: 62px;
		}
	}
	.home-slider {
		.slick-next, .slick-prev {
			bottom: 20px;
			top: auto !important;
		}
	}
	
	
	#home-cta {
		> .wpb_column {
			padding: 40px 20px 40px;
		}
	}
	
	.howitworks {
		.smile_icon_list {
			left: 0px;
			margin-left: 0px !important;
			width: 100% !important;
			min-width: auto;
		}
	}
	
}
